<ul class="list-group">
	  <h4>ジャンル別メニュー検索</h4>
	  <li class="list-group-item text-center">
	  <% genres.each do |genre| %>
         	<h5>
         	<!-- ジャンル検索機能 -->
         	<%= link_to genre.name, genre_search_menus_path(genre_name: "#{genre.name}"), method: :post %>
		   </h5>
      <% end %>
	</li>
</ul>