<div class="container">
<div class="row no1">
         <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
                <table class="table">
                        <tr>
                                <th>user name</th>
                                <th>menu name</th>
                        </tr>
                        <% @menus.each do |menu| %>
                        <tr>
                                <td>
                                        <%= menu.user.name %>
                                </td>
                                <td>
                                    <%= link_to menu_path(menu), class: "btn-link" do %>
                                        <strong><%= menu.name %></strong>
                                    <% end %>
                                </td>
        
                        </tr>
                         <% end %>
                         <%= paginate @menus %>
                </table>
        </div>
</div>
</div>