<div class="container">
<div class="row no1">
    <div class="col-xs-9">
      
      <p>タイトル</p>
      <%= @information.title %>
      <p>投稿内容</p>
      <%= @information.info_content %>

      <%= link_to "編集", edit_admin_information_path(@information) %>
        
    </div>
    
    <div class="col-xs-3">

    </div>
</div>
</div>