<div class="container">
<div class="row no1">
    <div class="col-xs-offset-3 col-xs-6">
    <p> user bookmarks</p>
    <% current_user.bookmarks_menus.each do |menu| %>
        <li><%= link_to menu.name, menu_path(menu) %></li>
    <% end %>
    </div>
</div>
</div>
