<div class="container">
<div class="row no1">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
        <table class="table table-striped">
            <h2>ブックマーク一覧</h2>
            <thead>
                <tr>
                    <th>ユーザー</th>
                    <th>メニュー</th>
                </tr>
            </thead>
            
            <% current_user.bookmarks_menus.each do |menu| %>
                <tr>
                    <td> <%=  menu.user.name %></td>
                    <td><%= link_to menu.name, menu_path(menu) %></td>
                </tr>
            <% end %>
            <%= paginate @bookmarks %>
        </table>
    </div>
</div>
</div>
