<% @h_competitions.each do |competition| %>
    <tr>
       <td>
          <%= link_to competition.name, competition_path(competition) %>
       </td>
       <td>
          <%= competition.genre.name%>
       </td>
    </tr>
<% end %>
<%= paginate @competitions, :param_name => 'competition' %>