<h3>Users</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>user name</th>
    </tr>
  </thead>
  <tbody>

  <% users.each do |user| %>
    <% if admin_signed_in? %>
        <tr>
            <td>
                <%= link_to admin_user_path(user.id) do %>
                    <%= user.name %>
                <% end %>
            </td>
        </tr>
    <% else %>
        <tr>
            <td>
                <%= link_to user_path(user.id) do %>
                    <%= user.name %>
                <% end %>
            </td>
        </tr>
    <% end %>
  <% end %>

  </tbody>
 </table>