<div class="container">
<div class="row no1">
         <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
                <h3>ユーザー 一覧</h3>
                <table class="table">
                        <tr>
                                <th>ユーザー</th>
                                <th>投稿メニュー数</th>
                        </tr>
                        <% @users.each do |user| %>
                        <tr>
                                <td>
                                <%= link_to user_path(user), class: "btn-link" do %>
                                        <strong><%= user.name %></strong>
                                <% end %>
                                </td>
                                <td>
                                        <%= user.menus.count %>
                                </td>
        
                        </tr>
                        <% end %>
                        <%= paginate @users %>
                </table>
        </div>
</div>
</div>

