<div class="row">

        <div class="col-xs-3">


        </div>
            
        <div class="col-xs-9">
                <% @users.each do |user| %>
                        <%= link_to user_path(user), class: "btn-link" do %>
                                <%= user.name %>
                        <% end %>
                        <%= user.menus.count %>
                <% end %>
        </div>
    

</div>