<div class="container">
    <div class="row no1">
        <div class="col-xs-12">
            <h1>退会したユーザーです</h1>
            <p>アカウントを再開したい場合はお問い合わせフォームよりご連絡ください。</p>
        </div>
    </div>
</div>