<div class="container-fluid">
   <div class="row top-main">
      <div class="col-offset-md-3 col-md-9">   
      <h1 class="top-h1">Archive.S</h1>
         <h3 class="top-h3">多くの水泳競技者のために</h3>
         <div class="top-message">
            膨大な量になるトレーンングメニュー<br>
            手書きのノートも、データのメニューも同じように管理できる<br>
            水泳・オープンウォーター・トライアスロンなどの競技者・指導者向けに<br>
            そんなサービスを提供できることを目指し、このサイトを作成しました
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-offset-xs-3 col-xs-9">
         
         <div class="top-content1">
         <h4>利用方法</h4>
            メニューの画像(スクリーンショットなど)、内容を書き込み<br>
            トータル距離を入力して保存するだけ。<br>
            トータル距離を元に自動でグラフが作成され,<br>
            1回1回の練習の距離をグラフで把握できます。
         </div>
      </div>
      <div class="col-lg-6 col-xs-12">
      </div>
   </div>

   </・div>
</div>

