<div class="top-main">

    <div class="row top-main">
       <div class="col-xs-12">
          <div class="top-run">
            <h1 class="top-h1">Archive.S</h1>
            <h2 class="top-h2">welcome</h2>
          </div>
        </div>
    </div>
    <div class="row top-content">
        <div class="col-xs-7">
           <% if admin_signed_in? %>
              <%= link_to "ジャンル一覧", admin_genres_path %>
           <% elsif user_signed_in? %>
              <%= link_to "メニュー一覧", menus_path %>
           <% else %>
       
           a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
           <% end %>
        </div>
        <div class="col-xs-5">
            information
        </div>
        
    </div>

</div>

