// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//topページ 
.top-main {
    padding: 30px 0;
    height: 650px;
    width: max;
    background-image: image-url("top-background.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

// .info {
//     padding:20px 70px;
// }  
.top-right-content {
    background-color:rgba(76, 76, 83, 0.319);
    background-blend-mode:lighten;

}
.info-box{
    color: #fff;
    padding-top: 20px;
}  

.ranking-box {
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
  }

.top-h1 {
    color: #fff;
}
.welcome {
    margin-left: 20px;
}
.top-h3 {
    color: #fff;
}
.count-box {
  padding-top: 80px;
  color: #fff;
}
.guest {
    color: rgb(238, 195, 102);
}

.top-message {
    color: #fff;
    padding-left: 70px;
}

.about-content {
    padding: 20px 0;            
    width: max;
    margin: 0 auto;
       
}
.top-menu-rank {
    color: white;
}
// aboutページ

.about-content1 {
    margin: auto;
    width: 90%;
}
.about-image {
    margin: auto;
    height: 440px;
    width: 660px;
}

@media (max-width: 575.98px) {

    .top-main {
        height: 100%;
    }

    .welcome {
        width: 100%;
    }
    .top-h3 {
        margin-right: 40px;
        text-align: center;
    }

    .top-message {
        width: 95%;
        margin: 0 auto;
        color: #fff;
        padding: 0;
    }
  
    .top-content1 {
        margin: 0 auto;
    }
    .about-image-box {
        width: 90%;
        margin: 0 auto;
        
    }

	.about-image {
        // height: 176px;
		width: 230px; 
    }
    .ranking {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

    .ranking-box {
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

    .info {
        width: 100%;
        position: relative;
    }

    .info-box {
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
    }
}
