<div class="container">
    <div class="row no1">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6 col-offset-sm-3">
       <% if @model == 'user' %>
        <h3>ユーザー検索 '<%= @content %>'</h3>
        <%= render 'user/users/index', users: @detas %>
       <% else @model == 'menu' %>
        <h3>メニュー検索 '<%= @content %>'</h3>
        <%= render 'user/menus/index', menus: @detas %>
      　<% end %>
      </div>
    </div>
</div>