<div class="row">
    <div class="col-xs-9">
        種目一覧
        
        <% @athletic_events.each do |athletic_event| %>
            <table class="info-table">
                <%= link_to athletic_event.name, admin_athletic_event_path(athletic_event) %>
            </table>
        <% end %>
        
    </div>
    
    <div class="col-xs-3">
    新規投稿
        <%= form_for @athletic_event, url: admin_athletic_events_path, method: :post, class: "form-control" do |f| %>
            種目名名
            <%= f.text_field :name, class:"form-control" %>
    
            <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
        <% end %>
    </div>
</div>