<footer class="footer navbar navbar-fixed-bottom navbar-inverse" style="background: linear-gradient(-135deg, #C4E0E5, #4CA1AF, #2C3E50);">
  <div class="container" style="height:10px">
    <nav>
      <ul class="nav navbar-nav footer-navi row" style="width: 100%">
        <li class="col-xs-3">ご利用規約</li>
        <li class="col-xs-3">ご利用ガイド</li>
        <li class="col-xs-3">よくある質問</li>
        <li class="col-xs-3">お問い合わせ</li>
      </ul>
    </nav>
  </div>
</footer>