<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"  style="height:20px;">
        <nav class="nav navbar-nav navbar-left">
          <span class="header-logo">

          </span>
        </nav>
      </div>
      <div class="col-xs-9" style="height:20px;">
        <nav class="clearfix" style="line-height: 20x;font-size: 15px;">
          <ul class="nav navbar-nav navbar-right header-navi">
            <% if admin_signed_in? %>

              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
              <% elsif user_signed_in? %>
              <li>ようこそ、<%= current_user.name %>さん！</li>

              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% else %>

              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
    
      </div>
  </div>
</header>